<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="displayAdMob()" *ngIf="!isAdsense" color="primary">
      広告を出す
    </ion-button>
    <ion-button (click)="hideAdMob()" *ngIf="isAdsense" color="danger">
      広告を隠す
    </ion-button>
  </div>

  <ion-list>
    <ion-list-header>バッジの操作</ion-list-header>
    <ion-item button="true" (click)="upBadge()">バッジを増やす</ion-item>
    <ion-item button="true" (click)="clearBadge()">バッジクリア</ion-item>
  </ion-list>
</ion-content>
